.award-winning-section{
    padding: em(65);
    margin: em(-200) 0 em(-200);
    position: relative;
    z-index: 9;
    .container{
        background: $white;
        box-shadow: 0px 0px 30px -23px #000;
        padding: em(30) 0 em(25);
        @include borderRadius(25px);
    }
    h3{
        font-weight: 700;
        margin-bottom: em(8);
        span{
            font-weight: 700;
        }
    }
    .read-more-btn{
        margin: auto;
        display: block;
        text-decoration: none;
    }
    p{
        margin: 0;
        line-height: em(28);
    }
    .img-wrap{
        margin-top: em(48);
    }
}