.business-contact-section{
    padding: em(60) 0;
    background-color: $primary;
    h3{
        font-weight: 500;
        margin-bottom: em(8);
        color: $white;
        span{
            font-weight: 700;
        }
    }
    p{
        color: $white;
    }
}

.btn-box-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        font-size: em(25);
        margin: 0;
        padding: 0 em(20);
    }
    .btn.btn-secondary.bg-transparent{
        background: transparent;
        border-color: $white;
    }
}