.growth-section{
    background-color: #e3e4d9;
    padding: em(30) 0;
    h3{
        font-weight: 500;
        margin-bottom: em(8);
        span{
            font-weight: 700;
        }
    }
    p{
        margin-bottom: em(45);
    }
    .growth-card{
        background: $white;
        padding: em(25);
        h5{
            line-height: em(25);
        }
        p{
            margin-bottom: em(8);
        }
    }
}