
.header-top{
    padding: em(20) 0;
}

.header-bottom{
    background: $info;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    .head-tel{
        color: $black;
        font-size: em(20);
        margin: em(18) 0;
        text-align: end;
        a{
            text-decoration: none;
            color: $black;
        }
    }
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-naviagations{
    .header-naviagations-list{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        li{
            margin-right: em(25);
            &:last-child{
                margin: 0;
            }
            a{
            color: $black;
            font-size: em(16);
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 700;
            position: relative;
            @include transition(0.5s);
            display: block;
            margin: em(28) 0;
            &:after{
                content: '';
                width: em(10);
                height: em(10);
                background-image: url("../public/drop-down-arrow-black.svg");
                display: inline-block;
                background-position: center;
                background-size: cover;
                vertical-align: middle;
                margin-left: em(5);
            }
            &:before{
                content: '';
                width: 0;
                height: em(2);
                background: $black;
                position: absolute;
                bottom: em(-5);
                left: 0;
                right: 0;
                margin: auto;
                transition: 0.5s;
            }
            }
            li{
                a{
                    &:after,&:before{
                        content: none;
                    }
                }
            }
        }
        li{
            position: relative;    
            padding: em(6) 0;
            &:hover{
                .header-dropdown{
                    opacity: 1;
                    display: block;
                }
            }
            &:nth-child(odd){
                li{
                    &::before{
                        background: $success;
                    }
                    a{
                        &:hover{
                            background: $success;
                        }
                    }
                }
            }
            &:nth-child(even){
                li{
                    &::before{
                        background: $secondary;
                    }
                    a{
                        &:hover{
                            background: $secondary;
                        }
                    }
                }
            }
            .header-dropdown{
                // display: none;
                position: absolute;
                left: 0;
                top: auto;
                // bottom: em(-15);
                background: $white;
                @include borderRadius(5px);
                // overflow: hidden;
                width: em(320);
                opacity: 0;
                display: none;
                &:before{
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    top: -12px;
                    left: 35px;
                    border-left: 12px solid transparent;
                    border-right: 12px solid transparent;
                    border-bottom: 12px solid $white;
                }
                li{
                    padding: 0;
                    margin: 0;
                    &::before{
                        content: none;
                        width: em(10);
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
                a{
                    color: $black;
                    font-size: em(14);
                    text-transform: capitalize;
                    padding: em(10) em(30) em(10) em(30);
                    display: block;
                    @include transition(0.5s);
                    letter-spacing: 1px;
                    text-decoration: none;
                    margin: 0;
                    &:hover{
                        color: $white;
                    }
                }
            }
        }
    }
}

// Laptops large devices (desktops, 1600px and up)
@media (min-width: 1600px) and (max-width: 1699.98px) { }

// Laptops large devices (desktops, 1400px and up)
@media (min-width: 1400px) and (max-width: 1599.98px) {}

// Laptops small devices (desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399.98px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .header-naviagations{
        ul{
            a{
                &:hover{
                    &:before{
                        width: 100%;
                    }
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    body{
        .platform-slider{
            .slick-prev{
                left: -70px;
            }
            .slick-next{
                right: -60px;
            }    
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .header-nav {
        .header-navs {
            .lang-change{
                display: block;
            }
            .switch-div{
                .switch{
                    margin: em(5) 0 0 0;
                }
            }
        }
    }
 }
