html {
  width: 100%;
  height: 100%;
  // overflow: hidden;
}

#scrollableDiv{
    height: 300;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

body {
  font-size: em(16);
  // font-family: 'poppins';
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  width: 100%;
  height: 100%;
  position: relative;
  #__next{
    height: 100%;
  }
  img{
    max-width: 100%;
  }

  main {
    width: 100%;
    height: 100%;
  }

}

.page-wrapper{
  position: relative;
}

.page-bottom-bg{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: em(850);
  background: $bgGrey;
  z-index: -1;
}

.sections-heading{
  margin-bottom: em(65);
  h2{
    text-align: center;
    span{
      color: $primary;
    }
  }
  p{
    width: 35%;
    margin: 0 auto;
    text-align: center;
    line-height: 32px;
    font-size: $para-font-size2;
  }
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a, button {
  outline: none !important;
  @include transitions(0.2s);  
  &:hover {
    text-decoration: none;
  }
}

.container {
  padding: 0 em(15);
  max-width: 85%;

  .row {
    margin: 0 em(-15);

    [class^="col-"] {
      padding: 0 em(15);
    }

    &.no-gutters {
      margin: 0;

      [class^="col-"] {
        padding: 0;
      }
    }
  }
}

.container-fluid {
  padding: 0 em(15);

  .row {
    margin: 0 em(-15);

    [class^="col-"] {
      padding: 0 em(15);
    }

    &.no-gutters {
      margin: 0;

      [class^="col-"] {
        padding: 0;
      }
    }
  }
}

h1, .h1 {
  font-size: $h2-font-size;
}

h2, .h2 {
  font-size: $h2-font-size;
  line-height: 1.1;
  margin: 0 0 em(15) 0;
}

h3, .h3 {
  font-size: $h3-font-size;
  line-height: em(20);
  margin: 0 0 em(15) 0;

  a{
    color: $grey;
    @include transitions(0.5s);
  }
}

h4, .h4 {
  font-size: $h4-font-size;
  line-height: em(18);
  margin: 0 0 em(15) 0;
}

h5, .h5 {
  font-size: $h5-font-size;
  line-height: 1;
  margin: 0 0 em(20) 0;
}

h6, .h6 {
  font-size: $h6-font-size;
  line-height: 1;
  margin: 0 0 em(30) 0;
}

p {
  font-size: $para-font-size;
  margin: 0 0 em(30) 0;
  line-height: em(30);
}

.btn {
  font-size: em(16);
  font-weight: 300;
  position: relative;
  @include transitions(0.5s);
  text-align: center;
  overflow: hidden;
  @include borderRadius(5px);

  &:not(.dropdown-toggle) {
    padding: em(13) em(25) em(13) em(25);
    span {
      position: relative;
      z-index: 1;
      display: block;
      font-size: em(20);
      line-height: 1;
    }
  }

  &.btn-primary {
    border: none;
    padding: em(7) 0 em(7) 0;
    width: 100%;
    text-align: center;
    font-size: em(25);
    text-transform: uppercase;
    border: 1px solid $primary;
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      @include transitions(0.5s);
      opacity: 0;
      visibility: hidden;
      @include borderRadius(50px);
      content: '';
      background: $white;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,1e5799+100 */
      // background: rgb(125, 185, 232); /* Old browsers */
      // background: -moz-linear-gradient(left, rgba(#d8002e, 1) 0%, rgba(#aa1f2e, 1) 100%);
      // background: -webkit-linear-gradient(left, rgba(#d8002e, 1) 0%, rgba(#aa1f2e, 1) 100%);
      // background: linear-gradient(to right, rgba(#d8002e, 1) 0%, rgba(#aa1f2e, 1) 100%);
      // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8002e', endColorstr='#aa1f2e', GradientType=1);

    }

    //&:hover, &:focus {
    //  background: $primary;
    //  color: $white;
    //  border-color: $primary;
    //}
  }

  &.btn-secondary{
    border: none;
    padding: em(5) em(12) em(5) em(12);
    text-align: center;
    font-size: em(18);
    text-transform: uppercase;
    border: 1px solid $secondary;
    font-weight: 700;
  }
  &.btn-warning{
    background-image: $warningGradient;
    border: none;
    color: $white;
    box-shadow: 20px 10px 46px -14px #000;
    @include borderRadius(10px);
  }

}


::-moz-selection {
  background: rgba($primary, 0.23);
}

::selection {
  background: rgba($primary, 0.23);
}


.slick-slide {
  &:focus {
    outline: none;
  }
}

input[type="text"],input[type="password"],.react-tel-input .form-control{
  width: 100%;
  padding: em(20) em(30) em(22) em(25);
  @include borderRadius(12px);
  margin-bottom: em(20);
  font-size: em(15);
  border: 0;
  background-color: $inputBg;
  &.withIcon{
    padding: em(20) em(30) em(22) em(65);
  }
}

.react-tel-input .form-control{
  height: auto;
  margin-bottom: em(20) !important;
  padding-left: 48px !important;  
}

.field-error{
  font-size: em(14);
  margin: 0 0 em(10) em(15);
  color: $errorField;
  display: inline-block;
  text-align: left;
}


.btn-line-link{
  font-weight: 600;
  color: $black;
  text-decoration: underline;
}


.text-bold{
  font-family: 'poppins', sans-serif;
}

.inline-inputs{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  &>div{
    width: 48%;
  }
}



.slick-dots{
  // white-space: nowrap;
  // overflow: hidden;
  // margin: 0 auto;
  // left: 50%;
  // width: 25%;
  // transform: translateX(-50%);
  li {
    margin: 0;
   button{
     &:before{
      opacity: 1; 
      color: rgba(217, 217, 217, 0.7);
     }
   }
   &.slick-active{
    button{
      &:before{
      opacity: 1;
      color: $white;
      }
    }
  }
 }
}

.slick-slide{
  // float: none;
}

.head-spacer{
  height: em(100);
}

.desktop-display-flex{
 display: none !important; 
}

.mobile-display{
  display: none !important;
}

.thumb-vertical {
  background: $primary;
  z-index: 9999;
}

.btn-black-border{
  border: 1px solid $black;
  padding: em(8) em(16);
  color: $black;
  @include borderRadius(8px);
  position: relative;
  &:before{
    content: '';
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    @include borderRadius(6px);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    @include transitions(0.5s);
    background: $black;
  }
}

.btn-lg{
  &.btn{
    &.btn-secondary,&.btn-warning{
        font-size: em(20);
        padding: em(12) em(30);
    }
  }
}

.read-more-btn{
  color: $primary;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
  &:hover{
    color: $black;
  }
}

.warning-text{
  color: $warning;
}

.warning-bg-text{
  background-image: $warningGradient;
  color: $white;
  display: inline-block;
  padding: 0 em(15);
  margin-bottom: em(45);
  @include borderRadius(30px);
}

.content-list-with-img{
  display: flex;
  margin-bottom: em(5);
  h5{
    margin-bottom: em(8);
  }
  .img-wrap{
    margin-right: em(25);
  }
  p{
    margin: 0;
  }
}

.slick-slider{
  .slick-arrow{
    background-color: $warning;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    top: auto;
    bottom: -90px;
    padding: 10px;
    &:before{
      content: none;
    }
    &.slick-prev {
      left: 38%;
    }
    &.slick-next {
      right: 44%;
    }
  }
}

// Laptops large devices (desktops, 1600px and up)
@media (min-width: 1600px) and (max-width: 1699.98px) {
  body {
    font-size: em(14);
  }
}

// Large devices (desktops, 1440px and up)
@media (min-width: 1400px) and (max-width: 1599.98px) {
  body {
    font-size: em(12);
  }
}

// Large devices (desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399.98px) {
  body {
    font-size: em(11.75);
  }
  .btn {
    &:not(.dropdown-toggle) {
      padding: em(8) 0 em(10) 0;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .btn {
    &.btn-primary {
      &:hover, &:active,&:focus {
        background: $white;
        color: $primary;

        &:before {
          opacity: 1;
          visibility: visible;
          width: 100%;
        }
      }
    }
  }
  .btn-black-border{
    &:hover{
      color: $white;
      &:before {
        opacity: 1;
        visibility: visible;
        width: 100%;
      }
    }
  }
  .slick-arrow{
    &:hover{
      i{
        &:before{
          color: $primary;
        }
      }
      &:after{
        width: 100%;
      }
      &.slick-disabled{
        i{
          &:before{
            color: rgba(153, 153, 153, 0.5);
          }
        }
      }
    }
  }
  .desktop-display-flex{
    display: flex !important; 
   }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    overflow: initial;
  }
  body {
    font-size: em(12);
  }
  .ie, .ei11{
    body {
      overflow: auto;
      main {
        width: 100%;
        height: auto;
        overflow: auto;
      }
    }
  }
  h2 {
    font-size: em(56);
  }
  h3 {
    font-size: em(26);
  }
  h4 {
    font-size: em(40);
  }
  .btn {
    font-size: em(16);

    &:not(.dropdown-toggle) {
      .icon-btn-arrow {
        top: em(19);
      }
    }

    &.btn-outline-white {
      padding: em(14) em(66) em(17) em(27);
      .icon-btn-arrow {
        top: em(17);
      }
    }
  }
  .container {
    max-width: 90%;
  }
  .desktop-display-flex{
    display: flex !important; 
   }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    overflow: initial;
  }
  body {
    font-size: em(12);
  }
  .ie, .ei11 {
    body {
      overflow: auto;
      main {
        width: 100%;
        height: auto;
        overflow: auto;
      }
    }
  }
  h2 {
    font-size: em(44);
  }
  h3 {
    font-size: em(28);
  }
  p {
    line-height: em(26);
  }
  .btn {
    font-size: em(16);
    &:not(.dropdown-toggle) {
      .icon-btn-arrow {
        top: em(19);
      }
    }
  }
  .container {
    max-width: 96%;
  }
  .desktop-display-flex{
    display: flex !important; 
   }
}

// Small devices (landspe phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    overflow: initial;
  }
  body {
    font-size: em(14);

  }
  .ie, .ei11 {
    body {
      overflow: auto;
      main {
        width: 100%;
        height: auto;
        overflow: auto;
      }
    }
  }
  h2 {
    font-size: em(46);
  }
  h3 {
    font-size: em(26);
  }
  h4 {
    font-size: em(32);
  }
  .btn {
    font-size: em(16);

    &:not(.dropdown-toggle) {
      .icon-btn-arrow {
        top: em(17);
      }
    }

    &.btn-outline-white {
      .icon-btn-arrow {
        top: em(15);
      }
    }
  }
  .container {
    max-width: 100%;
  }
  .mobile-display{
    display: block !important;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

  html {
    overflow: initial;
  }
  body {
    font-size: em(14);
  }
  .ie, .ei11 {
    body {
      overflow: auto;
      main {
        width: 100%;
        height: auto;
        overflow: auto;
      }
    }
  }
  h2 {
    font-size: em(38);
  }
  h3 {
    font-size: em(24);
  }
  h4 {
    font-size: em(28);
  }
  .btn {
    font-size: em(16);

    &:not(.dropdown-toggle) {
      .icon-btn-arrow {
        top: em(17);
      }
    }

    &.btn-outline-white {
      .icon-btn-arrow {
        top: em(15);
      }
    }
  }
  .container {
    max-width: 100%;
  }
  .slick-arrow {
    .icon-left-arrow{
      position: relative;
      left: -2px;
      top: 1px;
    }
    .icon-right-arrow{
      position: relative;
      left: 1px;
      top: 1px;
    }
  }
  .sections-heading{
    p{
      width: 100%;
    }
  }
  .head-spacer {
    height: em(150);
  }
  .mobile-display{
    display: block !important;
  }
}
