.platform-section{
    padding: em(80) 0 em(50);
    h4{
        color: $lightGrey;
        margin-bottom: em(30);
    }
}


.platform-slider{
    .slick-slide{
        margin: 0 50px;
    }
    .slick-prev, .slick-next{
        top: 10%;
        width: 38px;
        height: 38px;
    }
    .slick-prev{
        left: -90px;
        transform: rotate(-180deg);
        top: 20%;
    }
    .slick-next{
        right: -80px;
    }
}