
.populer-articles-section{
    padding: em(50) 0;
    h5{
        font-weight: 500;
    }
    .col-xl-4{
        margin: 0 0 em(30) 0;
    }
    .populer-articles-box{
        padding: em(30) em(30);
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        h4{
            color: $white;
        }
        p{
            color: $white;
        }
        &.populer-blue{
            background-color: #146e90;
        }
        &.populer-green{
            background-color: #4daf40;
        }
        &.populer-orange{
            background-color: #ee8b09;
        }
    }
}